*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:
linear-gradient(
to right,
#faf5f5,
#f5ebeb,
#f8f5f5
);

color:white;

}

.hero{

padding:60px;

text-align:center;

}

.hero h1{

font-size:75px;

color:#001aff;

text-shadow:
0 0 20px rgb(55, 0, 255);

}

.hero p{

font-size:28px;

color:#3935fc;

margin-top:10px;

}

.player{

width:90%;

margin:auto;

}

.player img{

width:100%;

height:520px;

object-fit:cover;

border-radius:30px;

box-shadow:
0 0 35px rgb(97, 132, 247);

transition:0.5s;

}

.player img{
width: 70%;
height: 400px;
display: block;
margin: auto;
border-radius: 30px;
}

.about{

padding:50px;

text-align:center;

}

.about h2{

font-size:42px;

color:#0c0c0b;

margin-bottom:20px;

}

.about p{

font-size:22px;

line-height:40px;
color:#001aff

}

.stats{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

padding:30px;

}

.card{

width:240px;

background:
linear-gradient(
180deg,
#1d1d1d,
#000
);

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:
0 0 20px rgba(86, 103, 248, 0.4);

transition:0.5s;

}

.card:hover{

transform:
translateY(-12px);

}

.value{

font-size:45px;

color:#2f86f8;

}

.name{

margin-top:10px;

font-size:22px;

}

.title{

text-align:center;

font-size:42px;

color:#0f0e0a;

margin-top:50px;

}

.achievements{

width:90%;

margin:auto;

}

.box{

margin-top:20px;

padding:22px;

border-left:8px solid rgb(215, 205, 248);

background:#0f0f0f;

border-radius:15px;

font-size:22px;

}

.quote{

width:90%;

margin:50px auto;

padding:30px;

background:
linear-gradient(
to right,
#51a7ee,
#5e8ef5
);

color:black;

text-align:center;

font-size:30px;

border-radius:25px;

font-weight:bold;

}

.btn{

text-align:center;

margin-bottom:50px;

}

button{

padding:18px 40px;

font-size:22px;

border:none;

border-radius:40px;

background:#72b0f8;

cursor:pointer;

}

button:hover{

transform:scale(1.08);

}

.footer{

padding:35px;

text-align:center;

font-size:28px;

color:#bd8ff8;

}